<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="ClickedController as clicked">
<br>
<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
			<label id="menu-header">Menu</label>
		</div>
		<div id="type-btn" class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
				<button  id="{[{allType.type}]}" ng-repeat="allType in clicked.allTypes" ng-click="clicked.applyType(allType.type)" type="button" class="btn btn-default">{[{allType.type}]}</button>	
	</div>
</div>
<div id="menu-container" class="container-fluid col-lg-9 col-md-9 col-sm-9 col-xs-8"> 
	<ul  class="row">
		<li id="{[{product.id}]}" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 each-menu-container"  ng-repeat="product in clicked.products" ng-click=clicked.incrCount(product.id) ng-show="clicked.show(product.type)">
		<div id="item" class="{[{product.id}]}">
		<div id="type"><img class="menu-type img-responsive" ng-src="/bundles/busapp/images/menu/{[{product.type}]}.png"></div>
			<div id="menu-img" class="img-responsive">
				<img class="menu-type img-responsive" ng-src="/bundles/busapp/images/menu/{[{product.imgurl}]}" alt="loding....">
			</div>
			<div id="menu-desc-container" class="row">
				<div id="menu-desc" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{[{product.name}]}</div>
				<div id="menu-price" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><lable id="price{[{product.id}]}"class="price"> ₹ {[{product.price}]}</lable></div>
				<div id="menu-desc" class="text-justify col-lg-12 col-md-12 col-sm-12 col-xs-12">{[{product.desc}]}</div>
			</div>
		</div>
		</li>
	</ul>
</div>
<div id="outercart-container" class="container-fluid col-lg-3 col-md-3 col-sm-3 col-xs-4"  ng-show="clicked.item">
	<div id="innercart-container">
		<div id="cart-header">
			<span class="glyphicon glyphicon-shopping-cart"></span>
			<span>{[{clicked.item}]} Item of {[{clicked.prod}]} Product</span>
		</div>
		<div id="cart-container">
			<div id="{[{product.id}]}" class="cart-data" ng-repeat="product in clicked.products" ng-show="product.count">
				<div id="cart-info" ng-show="product.count">
					<div id="product-name"><lable ng-show="product.count">{[{product.name}]}</lable></div>
					<div id="product-count"><a><span class="pull-left glyphicon glyphicon-plus" ng-click="clicked.incrCount(product.id)"></span></a><lable ng-show="product.count">{[{product.count}]}</lable> * <lable ng-show="product.count">{[{product.price}]}</lable><a><span class="pull-right glyphicon glyphicon-minus" ng-click="clicked.descCount(product.id)"></span></a></div>
				</div>
			</div>
		</div>
		<div id="cart-total">
			Total: ₹ <span id="total-price">{[{clicked.total}]}</span>
		</div>
	</div>
	<button  id="checkout" type="button" class="btn btn-default">Proceed <span class="glyphicon glyphicon-circle-arrow-right"></span> </button>
</div>
</div>
<script>	
	$("#dish a").css({'color':'#000'});
	$("#loc a").css({'color':'#FFF'});
	$("#change-outlet").css({'visibility':'visible'});	
	$("#outercart-container").css({'visibility':'visible'});	
</script>