<!DOCTYPE html>
<html lang="en">
<head>
	<title>Restaurant-app</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{# <link rel="icon" href="/bundles/busapp/images/favicon.ico"> #}
	{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
	<script src="/bundles/busapp/js/jquery.min.js"></script>
	{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>#}
	<script src="/bundles/busapp/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	{# <link rel="/bundles/busapp/js/bootstrap.min.css"> #}
	<script src= "/bundles/busapp/js/angular.min.js"></script>
	<script src="/bundles/busapp/js/angular-route.min.js"></script>
	<script src="/bundles/busapp/js/app/models/app.js"></script>
	<script src="/bundles/busapp/js/menu.js"></script>
	<script src="/bundles/busapp/js/app/controllers/app.js"></script>
	<link rel="stylesheet" href="/bundles/busapp/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
	<script src= "/bundles/busapp/js/script.js"></script>
</head>
<body>
<div ng-app="myApp">  
	<header>
		<div class="container-fluid l0pad">
			<span id="menu-nav" class="col-lg-5 col-md-5 col-sm-4 col-xs-4 no-pad"> <span id="locality-text"></span><br><a id="change-outlet" href="/" onclick="redirect()">Change-outlet</a> </span>
			<span id="logo" class="col-lg-4 col-md-4 col-sm-3 col-xs-6 l0pad"><i>The - Dhaba<i>{# <img id="logo" src="/bundles/busapp/images/logo.png"> #}</span>
			<div id="icon-container" class="navbar-header">
				<button  id="header-icon-bar" type="button" class="navbar-toggle collapsed col-xs-1" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-option-vertical"></span>
				
				</button>
				<div class="collapse navbar-collapse col-lg-4 col-md-4 col-sm-4 col-xs-5 pull-right footer-toggle" id="bs-example-navbar-collapse-1">
				  <ul id="social-icon-container" class="nav navbar-nav pull-right">        
				    <li><a href="#"><img src="/bundles/busapp/images/social-icons/fb.png"></a></li>
				    <li><a href="#"><img src="/bundles/busapp/images/social-icons/twitter.png"></a></li>
				    <li><a href="#"><img src="/bundles/busapp/images/social-icons/android.png"></a></li>
				    <li><a href="#"><img src="/bundles/busapp/images/social-icons/ios.png"></a></li>
				    
				  </ul>
				</div>
			</div>
		</div> 
	</header>
	<div class="se-pre-con"></div>
	<div ng-view> </div>	
	<div id="footer">
		<div class="container-fluid">
			<div class="hidden-lg hidden-md hidden-sm">			
				<button type="button" class="navbar-toggle collapsed col-xs-2" data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" id="bs-example-navbar-collapse-10" style="width:100%">
				  <ul id="footer-nav" class="nav navbar-nav col-lg-12" style="width:100%">        
				    <li id="loc" class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a href="#/" onclick="redirect()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">Choose Location</a></li>
				    <li id="dish" class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a href="#/menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">Choose Dishes</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">Place Order</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a  data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">Order HIstory</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">Contact us</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">About us</a></li>				    
				  </ul>
				</div>
			</div>
			<div class="hidden-xs">			
				<button type="button" class="navbar-toggle collapsed col-xs-2" data-toggle="collapse" data-target="#bs-example-navbar-collapse-10">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" id="bs-example-navbar-collapse-10" style="width:100%">
				  <ul id="footer-nav" class="nav navbar-nav col-lg-12" style="width:100%">        
				    <li id="loc" class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a href="#/" onclick="redirect()">Choose Location</a></li>
				    <li id="dish" class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a href="#/menu">Choose Dishes</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a>Place Order</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a >Order HIstory</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a>Contact us</a></li>
				    <li class="col-lg-2 -col-md-2 col-sm-2 col-xs-12"><a>About us</a></li>				    
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>    
</body>
</html>
