
body {
	background-image: url(/bundles/busapp/images/pattern.jpg);
}
.main {

}
header {
	height:45px;
	/*margin-bottom: 5px;*/
	background-color:#E97770;
	margin-bottom: 0px;
}
#footer a:visited {
    background-color: #FFF !important;
    
}
header a:visited {
    background-color: #E97770 !important;

}
.navbar-collapse {
    width: ff !important;
}
.l5r0pad {
	padding-left: 5px !important;
	padding-right: 0px !important;
}
#logo {
	text-align: center;
	height: 40px;
	max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
	padding-top: 10px;
	font-size: 24px;
    font-family: fantasy;
    color: #fff;
}
#locality-text {
	color: #FFF;
	font-weight: bold;
	/*background: #CCC;*/
	padding: 5px;
}
#menu-nav {
	line-height: 15px;
	margin-top: 14px;
}
.social-icons {
	background-color: #CCC;
}
#social-icon-container {
	  z-index: 10;
  position: relative;
}

#social-icon-container li:hover {
	border-color: #FFF;

}
.nav>li>a {
   padding: 2px !important; 
}
#social-icon-container img {
	background: none;
	border-radius: 0px;
	width:40px;
	height:40px;
}
#location-container {
	text-align: center;
	height:700px;
	background-image: url(/bundles/busapp/images/bc-img-new1.jpg);
	max-width: 100%;
}
#location a:hover{
	cursor: pointer;
}
#location-header {
	color:#FFF;
	text-shadow: 1px 2px #E97770;
	
}
#locality {
	visibility: hidden;
	color:#FFF;
	font-size: 18px;
	text-align: left;
	min-height: 50px;
	padding-top: 20px;
}
#locality a {
	cursor: pointer;
	list-style: none;
	font-size: 15px;
	color:red;
	margin-left: 5px;
}

#location {
    width: 25%;
    margin: 0 auto;
    /*-webkit-filter: blur(4px);*/
    background-color: rgba(0,0,0,0.5);
	font-size: 20px;
	/*text-shadow: 1px 2px #000;*/
	z-index: 1;
	background-position: center center;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	box-shadow: 0px 1px 6px #000;
	/*-webkit-filter: blur(10px);*/
	border-radius: 4%;
}
#location a {
	list-style: none;
	color:#FFF;
	/*-webkit-filter: blur(0px);*/
	opacity: 1;
	font-weight: bold;
	z-index: 10;
	/*cursor: pointer;*/
}
#location a:hover {
	text-decoration: none;
	color:#fd7770;
}
#checkout {
	color:#FFF;
	background-color: #E97770;
	margin-top: 10px;
	height: auto;
	font-weight: bold;
}
#item {
	
	/* border-bottom: 2px solid @brand_color_2; */
	cursor: pointer;
	/* padding: 7.5px; */
	position: relative;	
	margin-bottom: 10px;
	min-height: 303px; 
	margin-left: 5px;
	margin-right: 5px; 
	
}
#location-container img {
	max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    box-shadow: 0px 1px 6px #bbb;
    border: 0;   
}
#item img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    box-shadow: 0px 1px 6px #bbb;
    border: 0;   
}
#type {
	position: absolute;
}
#All {
	background-color: #E97770;
}
#menu-wrapper {
	margin-top: 30px;
}
#menu-container {
	margin-top: 30px;
	  position: relative;
  margin-bottom: 60px
}
#menu-header {
	font-size: 30px;
}
#type-btn button {
	margin-left: 5px;
}
#menu-desc-container{
	/*background-color: #f1f1f1;*/
	box-shadow: 0px 1px 6px #bbb;
	margin-right: 0px !important;
  	margin-left: 0px !important;
  	padding-top: 10px;
}
.price {
	display: block; 
	float: right;
	font-size: 17.5px;
	color: black;
	padding: 12px 13px 5px 13px;
	text-align: center;
	box-shadow: 8px -5px -1px #000000;
	margin-bottom: 18px;
	border-radius: 5px;
	margin-top: 11px;
}

#menu-desc {
	padding-top: 10px;
	padding-bottom: 20px;
}
#menu-container ul {
	list-style: none;
	padding-left: 0px;
}
.each-menu-container {
	background-color: #f1f1f1;
}
#menu-container li {
	
  	padding-right: 0px !important;
  	padding-left: 0px !important;

}
#menu-container ul li:hover {
	list-style: none;
	background-color: #FFF;		
}
#outercart-container {
	text-align: center;
	margin-top: 60px;
	z-index: 1;
	position: fixed;
 	right: 0;
 	visibility: "hidden";
}
#innercart-container {
	border: 2px solid #333;
}
#change-outlet {
	color:#FFF;
	visibility: hidden;
}
#cart-container {
	max-height:245px; 
	height: 245px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}

#cart-info {
	font-size: 20px;
}
#cart-header {
	font-size: 25px;
	color:#FFF;
	background-color: #E97770;
}
.cleaner {
	clear: both;
}
#product-name {
	text-align: center;
	color: #E97770;
}
.cart-data {
	text-align: center;
	font-size: 15px;
	border-bottom: 1px dashed #333;
	color: #E97770;
	font-weight: bold;
}
#cart-total {
	margin-top: 0px;
	font-size: 25px;
	color:#FFF;
	background-color: #E97770;
	text-align: center;
	bottom: 0;
}
#product-name, #product-count {
	padding-top: 20px;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #333;
  background: none;
  border-color: #E97770;
}
#footer {
position: fixed;
background-color: #E97770;
min-height: 50px;
width:100%;
bottom: 0;
color:white;
z-index: 100000000;
}

#cpy-right {
	color:white;
	font-size: 18px;
	text-align: center;
}

#footer-nav  a {
	font-size: medium;
	color: #FFF;
	font-weight: bold;
	bottom: 1px solid #E97770;	
	padding-top: 16px !important;
	height: 50px;
}

#footer-nav  li {
	height:50px;
	text-align: center;
	padding-left: 0px !important;
	padding-right: 0px !important;

}
#footer-nav  li:hover {
	background-color: #fff;
}

.cleaner {
	margin-top:70px;
	clear: both;
}
.icon-bar {
    background-color: #FFF;
    color:black;
  }
  .glyphicon-option-vertical {
  	color: #FFF;
  }
 .navbar-nav>li>a {
  padding-top: 0px !important;

}
.nav>li>a {
  padding-top: 0px !important;
}
.nav>li>a:hover, .nav>li>a:active {
  background: none !important;
  color: #E97770 !important;
}
#icon-container{
	float: right;
}
#cart-info a{
	cursor: pointer;
	list-style: none;
	color: #E97770;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/bundles/busapp/images/preloader.gif) center no-repeat #fff;
}
a {
	cursor: pointer;
}
@media screen and (max-width: 767px){
.footer-toggle {
	width: 100%;
	position: fixed;
	z-index:1000000;
	margin-top: 60px;
}
#social-icon-container li {
	background-color: #FFF;
}

#location {
	width: 70%;
}
#social-icon-container img {
	background-color: #E97770;
	border-radius: 50%;
}
#cart-header {
	font-size: 14px;
	}
	#outercart-container {
		padding-left: 0px !important;
  padding-right: 3px !important;
	}
	
	#cart-container {
	max-height:320px; 
	height: 320px;
	overflow: scroll;
	padding-left: 0px !important;
	padding-right: 0px !important;
	}
	#cart-info {
	font-size: 12px;
	}
	.cart-data {
	font-size: 10px;
	}
	#cart-total {
		vertical-align: bottom;
		font-size:14px;
		bottom: 0px;
	}
	#product-name, #product-count {
		padding-top: 20px;
	}
	#icon-container{
	float: none;
}

}
@media screen and (max-width: 1115px) {	
	#cart-header {
	font-size: 13px;
	}
	#cart-info {
	font-size: 16px;
	}
	.cart-data {
	font-size: 12px;
	}
	#cart-total {
		font-size:15px;
		bottom: 0px;
	}
	#cart-container {
	max-height:270px; 
	height: 270px;
}}
@media screen and (max-width: 480px) {
.price {
	font-size: 13.5px;
	color: black;
	padding: 8px 8px 3px 7px;
	margin-bottom: 8px;	
	margin-top: 6px;
}
#cart-header {
	font-size: 11px;
	}
	#menu-img {
	min-height:110px;
}
.no-pad {
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.l0pad {
	padding-left: 0px !important;
}
#cart-container {
	max-height:220px; 
	height: 220px;
}
}
@media screen and (max-width: 420px) {
#header-icon-bar {
	height: 20px;
  	padding: 0px;
}
#logo {
	margin-left: 0px;
	height:43px;
	padding-top: 8px;
	padding-left: 8px;
}
#change-outlet, #locality-text {
	font-size: 14px;
}

}
@media screen and (max-height: 550px) {
#outercart-container {
	margin-top: -30px;
 	}

#location {
	width: 70%;
}
}
@media screen and (max-height: 450px) {
#outercart-container {
	margin-top: -5px;

 	}
 	#cart-container {
 		max-height: 130px;
 	}
 	
}
@media screen and (max-height: 390px) {
#outercart-container {
	margin-top: -30px;

 	}
 	#cart-container {
 		max-height: 70px;
 	}

}